body{
	margin :0;
	padding:0;
	background : url(background.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}
img {
  float:center;
  z-index: 1;
  display: block;
  margin:auto;
  margin-top:5%;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  vertical-align: middle
  
}

.loginPageUsername>p{
	margin:0;
	padding:0;
	display: block
	font-weight:bold;
	position:absolute;
	top:51%;
	left:42%;
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}

.loginPageUsername input[type="text"]{
	border:none;
	border-bottom: 1px solid black;
	background:transparent;
	outline:none;
	height: 15px;
	color:white;
	font-size: 16px;
	right:100px;
	position:absolute;
	top:55%;
	left:42%;
	font-family: Georgia, serif;
	font-size: 13px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	float:left;
	z-index=1;
	
}
.loginPagePassword>p{
	margin:0;
	padding:0;
	font-weight: bold;
	position:absolute;
	top:63%;
	left:42%;	
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}

.loginPagePassword input[type="password"]{
	border:none;
	border-bottom: 1px solid black;
	background:transparent;
	outline:none;
	height: 15px;
	color: #111;
	font-size: 16px;
	position:absolute;
	top:67%;
	left:42%;	
	font-family: Georgia, serif;
	font-size: 13px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}

.loginPageOptions{
	border:none;
	background:transparent;
	outline:none;
	height: 15px;
	color: white;
	font-size: 16px;
	position:absolute;
	top:74%;
	left:42%;		
	font-family: Georgia, serif;
	font-size: 13px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}

.loginPageOptions a{
	color:white;	
}

.loginPageOptions a:hover{
	color:#6eff95;	
}

.loginPageLoginBtn input[type="submit"]{
	border:none;
	background:#6eff95;
	outline:none;
	height: 40px;
	width: 120px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	position:absolute;
	left:45%;
	top:90%;
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}

.loginPageLoginBtn input[type="submit"]:hover{
	border:none;
	background:#6eff95;
	outline:none;
	height: 40px;
	width: 120px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	position:absolute;
	left:45%;
	top:90%;
	font-family: Georgia, serif;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	z-index:1;
}




